<form class="form-group" action="/" method="post">
  <div class="form-group">
    <label for="fullName">First Name</label>
    <input class="form-control" type="text" id="fullName" name="fullName" placeholder="Enter your Name">
  </div>

  <div class="form-group">
    <label for="contactEmail">E-mail</label>
    <input class="form-control" type="email" id="contactEmail" name="contactEmail" placeholder="example@mail.com">
  </div>

  <div class="form-group">
    <label for="textArea">Message</label>
    <textarea class="form-control" id="textArea" name="textArea" rows="8" cols="40"></textarea>
    <% if(messageStatus){ %>
      <small> Your message was sent </small>
    <%} %>

  </div>

  <div class="button-r">
    <button class="btn btn-lg btn-light" type="submit" name="submitFrom" value="/">Send</button>
  </div>



</form>
