<%- include('header'); -%>

  <!-- Who am i section! -->
  <section id="iam">
    <div class="container-fluid container-all">
      <div class="row">
        <div class="col-lg-6 px-5">
          <h1>Vinicius J. S. Tasso</h1>
          <p class="subtitle">Full Stack Web Developer.</p>
        </div>
        <div class="col-lg-6 px-5 py-5">
          <!-- <h1><i class="fas fa-code"></i></h1> -->
          <img src="images/logo.png" alt="">
        </div>

        <div class="col-12 description">
          <p>{ Age : 23, UndergraduantionIn : Industrial Engineering, Country : Brazil, Job : Full Stack Web Developer }</p>
        </div>

      </div>
    </div>
  </section>

  <section id="portfolio">
    <div class="container-fluid container-all">
      <h2>Project Portfolio</h2>

    </div>

  </section>

  <section id="contact">
    <div class="container-fluid container-all">
      <h2>Contact me!</h2>
      <%- include('contact', {messageStatus:  messageStatus }); -%>

    </div>
  </section>

<%- include('footer'); -%>
