h1 {
  line-height: 2;
  font-size: 2.5rem;
  font-weight: 900;
  padding-top: 15%;
}

h2 {
  line-height: 2;
  font-size: 2rem;
  padding-bottom: 50;
}


body {
  font-family: 'Merriweather', serif;
  background-color: #ffffff;
  color: #333333;
  text-align: center;
}

footer {
  padding: 3% 15%;
}

/* Containers */

.container-all {
  padding: 3% 15%;
}


/* Sections */

#contact,
#navigation-bar,
footer {
  background-color: #333333;
  color:#ffffff;
}

#iam {
  background-color: #333333;
  color: #fff;

}

/* Navbar */
.navbar {
  background-color: #333333;
}

.navbar img {
  width: 30px;
}


/* IAM */

#iam div.container-all {
  background-image: url("../images/background.jpg");
  background-size: cover;
}

#iam img {
  width: 300px;
}
.subtitle {
  color: #ffe75e;
  font-family: monospace;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 2;
}

.fa-code {
  font-size: 5rem;
}

.description {
  padding-top: 10%;
  font-weight: 700;
  font-family: monospace;
  font-size: 1.4rem;
}

/* Contact */
#contact form {
  margin: auto;
  text-align: left;
}
#contact form label {
  padding-left: 0;
  font-size: 1.4rem;
  line-height: 2;

}
#contact .div {
  text-align: left;
}

#contact form {
  margin-top: 15px;
  max-width: 600px;
  min-width: 300px;
  justify-content: center;
}

#contact div.button-r {
  text-align: right;
}

/* Medium and Large Screen Sizes */



/* Large Screens */

@media screen and (min-width: 1180px){
  h1 {
    font-size: 2.5rem;
    line-height: 3;
  }

  h2 {
    font-size: 2.5rem;

  }

  .fa-code {
    padding-left: 20%;
  }
}
